<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            Pizza Constructor
        </li>
        <li>
            <a class="menu-item" href="{% url 'main' %}">Create Pizza</a>
        </li>
        <li>
            <a class="menu-item" href="{% url 'ingredient_group_list' %}">Ingredient Groups</a>
        </li>
        <li>
            <a class="menu-item" href="{% url 'ingredient_list' %}">Ingredients</a>
        </li>
        <li>
            <a class="menu-item" href="{% url 'order_list' %}">Orders</a>
        </li>
    </ul>
</div>